@font-face {
    font-family: Kodchasan Bold;
    src: url("./fonts/Kodchasan-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Kodchasan Regular;
    src: url("./fonts/Kodchasan-Regular.ttf") format("truetype");
}