/*--------------------------------------------------------------
# Politica Privacidade
--------------------------------------------------------------*/
.politica-privacidade {
    
    z-index: 3333 !important;
    h2{
        margin: 0;
    }
    hr {
        opacity: 1;
        width: 50px;
        border: 1px solid #009ED0;
        margin: 0;
        background-color: #009ED0;
      }
}